@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.SignUpForm{
    width: 40%;
    height: 55%;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 2%;
}

.SignUpForm table{
    width: 100%;
}

